<%= form_with model: message do |form| %>
  <div>
    <div data-controller="message">
      <%= button_tag 'Start Audio', {type: 'button', data: {'action': 'click->message#startAudio'}} %>
      <%= button_tag 'Create Morse Code', {type: 'button', data: {'action': 'click->message#playDot'}} %>
    </div>
    <%= form.label :contents %>
    <%= form.text_field :contents, pattern: "^[\-. ]+$", :class => "form-control", placeholder: 'Accepts only spaces(" "), "." and "-"' %>
  </div>

  <br/>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
